body {
	background-image: url("https://cdn.hipwallpaper.com/i/97/81/4EPTWj.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: kirby;
	opacity: 0;
}

@font-face {
	src: url(Fonts/kirby-classic.ttf);
	font-family: kirby;
}

.header {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: black;
}

#Smash {
	color: pink;
	cursor: pointer;
}

#Title {
	text-align: center;
	font-size: 50px;
}

p {
	font-size: 20px;
}

figure {
	text-align: center;
	width: 300px;
	height: 250px;
}

img {
	width: 300px;
	height: 200px;
}

#Gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#Hyper {
	margin-top: -2px;
}

#Robo {
	margin-top: -2px;
}

#Gallery > div {
	margin-top: 10px;
}

#Vid {
	text-align: center;
}

#Title2 {
	text-align: center;
}

#toggle {
	display: none;
}

.nav {
	float: left;
}

label {
	margin: 10px 0 0 10px;
	font-size: 35px;
	display: none;
}

@media (max-width: 700px) {
	label {
		margin-top: 0px;
		display: block;
		cursor: pointer;
	}

	.header {
		display: block;
		text-align: center;
		padding-top: 60px;
		font-size: 35px;
	}

	.header div {
		border-top: 1px solid black;
		padding: 10px 0;
	}

	#toggle:checked + .header {
		display: none;
	}
}
